<footer>
    <nav class="footinfo">
        <ul class="util">
            <li><a href="#">PREGUNTAS FRECUENTES</a></li>
            <li><a href="#">FORMAS DE PAGO</a></li>
            <li><a href="#">TERMINOS Y CONDICIONES</a></li>
        </ul>
        <ul class="acerca">
            <li><a href="#">¿QUIENES SOMOS?</a></li>
            <li><a href="#">UBICACION</a></li>
            <li><a href="#">TRABAJA CON NOSOTROS</a></li>
        </ul>
        <ul class="contacto">
            <li><a href="#"><i class="fa-solid fa-phone"></i></i>QUIERO QUE ME LLAMEN</a></li>
            <li><a href="#"><i class="fa-solid fa-phone"></i>0810-222-1234</a></li>
            <li><a href="#"><i class="fa-solid fa-screwdriver-wrench"></i></i></i>SOPORTE</a></li>
        </ul>
        <ul class="redes">
            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </nav>
</footer>