<header>
    <script defer src="/js/burgerMenuScript.js"></script>
    <div class="fulllogo">

        <a href="/"><div class="logo"><img src="/images/giflogo.gif" width="150" height="150" alt=""></i></div></a>

        <div class="search">
            <form action="/search">
                <input type="search" name="term" placeholder=" Buscar productos..." >
                <button type="submit"><i class="fa fa-search" style="font-size: 18px;"></i></button>
            </form>
        </div>

        <a href="/products/productCart"><div class="carrito"><i class="fa-solid fa-cart-shopping"></i></div></a>
    </div>
    
    <nav class="categorias">
        <button class="toggle">
            <i class="fas fa-bars"></i>
        </button>
        <ul class="catg" type="none">
            <li><a href="/products/notebooks">NOTEBOOKS</a></li>
            <li><a href="/products/monitores">MONITORES</a></li>
            <li><a href="/products/placasdevideo">PLACAS DE VIDEO</a></li>
            <li><a href="/products/almacenamiento">ALMACENAMIENTO</a></li>
            <li><a href="/products/perifericos">PERIFERICOS</a></li>
            <li><a href="/products/allProducts">GENERAL</a></li>
            <% if (locals.isLogged) { %>
            <li><a href="/users/profile">MI CUENTA</a></li>
            <li><a href="/users/logout">CERRAR SESION</a></li>
            <% } else { %>
            <li><a href="/users/register">REGISTRARSE</a></li>
            <li><a href="/users/login">INGRESAR</a></li>
            <% } %>
            <% if (locals.isLogged && locals.admin == true) { %>
            <li><a href="/products/createProducts">NUEVO PRODUCTO</a></li>
            <% } %>
        </ul>
    </nav>
</header>