<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=4, initial-scale=1.0">
    <title>CUSTOM-PC</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
rel="stylesheet" >
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <header>

        <div class="Logocm"><img src="/images/logo_custom.png" alt=""></div>
        
        <div class="form" action="#" method="GET">
            <div class="input">Buscar productos, marcas y más</div>
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>

        <div class="carrito"><i class="fa-solid fa-cart-shopping"></i></div>

        <nav class="categorias">
            <ul>
                <li><a href="#">NOTEBOOKS</a></li>
                <li><a href="#">MONITORES</a></li>
                <li><a href="#">PLACAS DE VIDEO</a></li>
                <li><a href="#">ALMACENAMIENTO</a></li>
                <li><a href="#">PERIFERICOS</a></li>
                <li><a href="#">OFERTAS!!</a></li>
                <li><a href="/register">REGISTRARSE</a></li>
                <li><a href="#">INGRESAR</a></li>
            </ul>
        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

    </header>

    <main>

    </main>

    <footer>

    </footer>
    
</body>
</html>