<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CUSTOM-PC</title>
        <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    rel="stylesheet" >
        <link rel="stylesheet" href="./css/styles.css">
    </head>
<body>

    <header>
        <div class="fulllogo">

            <a href="/"><div class="logo"><img src="/images/logo_custom.png" width="150" height="150" alt=""></i></div></a>
    
            <div class="search">
              
                <form action="#">
                    <input type="text"
                        placeholder=" Buscar productos..."
                        name="search">
                    <button>
                        <i class="fa fa-search"
                            style="font-size: 18px;">
                        </i>
                    </button>
                </form>
            </div>
    
            <a href="/productCart"><div class="carrito"><i class="fa-solid fa-cart-shopping"></i></div></a>
        </div>
        
                <nav class="categorias">
                    <ul class="catg" type="none">
                        <li><a href="#">NOTEBOOKS</a></li>
                        <li><a href="#">MONITORES</a></li>
                        <li><a href="#">PLACAS DE VIDEO</a></li>
                        <li><a href="#">ALMACENAMIENTO</a></li>
                        <li><a href="#">PERIFERICOS</a></li>
                        <li><a href="#">OFERTAS!!</a></li>
                        <li><a href="/register">REGISTRARSE</a></li>
                        <li><a href="/login">INGRESAR</a></li>
                    </ul>
                </nav>
        
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
    </header>
    
    <main>


    </main>

    <footer>
        <nav class="footinfo">
            <ul class="util">
                <li><a href="#">PREGUNTAS FRECUENTES</a></li>
                <li><a href="#">FORMAS DE PAGO</a></li>
                <li><a href="#">TERMINOS Y CONDICIONES</a></li>
            </ul>
            <ul class="acerca">
                <li><a href="#">¿QUIENES SOMOS?</a></li>
                <li><a href="#">UBICACION</a></li>
                <li><a href="#">TRABAJA CON NOSOTROS</a></li>
            </ul>
            <ul class="contacto">
                <li><a href="#"><i class="fa-solid fa-phone"></i></i>QUIERO QUE ME LLAMEN</a></li>
                <li><a href="#"><i class="fa-solid fa-phone"></i>0810-222-1234</a></li>
                <li><a href="#"><i class="fa-solid fa-screwdriver-wrench"></i></i></i>SOPORTE</a></li>
            </ul>
            <ul class="redes">
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>