<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CUSTOM-PC</title>
        <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    rel="stylesheet" >
        <link rel="stylesheet" href="./css/styles.css">
    </head>
<body>
    <header>

    <div class="fulllogo">

        <a href="/"><div class="logo"><img src="/images/logo_custom.png" width="150" height="150" alt=""></i></div></a>
    
        <div class="form" action="#" method="GET">
            <input type="text" name="busqueda" placeholder="Buscar productos, marcas y más" class="forma">
            <div class="submit"><i class="fa fa-search"></i></div>
        </div>
    
            <div class="carrito"><i class="fa-solid fa-cart-shopping"></i></div>
        </div>
    
            <nav class="categorias">
                <ul class="catg" type="none">
                    <li><a href="#">NOTEBOOKS</a></li>
                    <li><a href="#">MONITORES</a></li>
                    <li><a href="#">PLACAS DE VIDEO</a></li>
                    <li><a href="#">ALMACENAMIENTO</a></li>
                    <li><a href="#">PERIFERICOS</a></li>
                    <li><a href="#">OFERTAS!!</a></li>
                    <li><a href="/register">REGISTRARSE</a></li>
                    <li><a href="/login">INGRESAR</a></li>
                </ul>
            </nav>
    
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
    
    </header>
    <main>


       <section>

        <form action="/register" method="POST">

            


            <label for="email">e-mail</label> 
            <input type="text" name="email">
            
            <br>

            <label for="nombre">Nombre</label>

            <input type="text" name="usuario">

            <br>

            <label for="apellido">Apellido</label>
            <input type="text" name="apellido">

            <br>

            <label for="telefono">Telefono</label>
            <input type="text" name="Telefono">

            <br>


            <label for="provincia">Selecciona tu provincia</label>
            <select name="provincia">

                <option value="buenos-aires">Buenos Aires</option>
                <option value="ciudad-bs-as">Ciudad Autónoma de Buenos Aires</option>
                <option value="catamarca">Catamarca</option>
                <option value="chaco">Chaco</option>
                <option value="chubut">Chubut</option>
                <option value="cordoba">Córdoba</option>
                <option value="corrientes">Corrientes</option>
                <option value="entre-rios">Entre Ríos</option>
                <option value="formosa">Formosa</option>
                <option value="jujuy">Jujuy</option>
                <option value="la-pampa">La Pampa</option>
                <option value="la-rioja">La Rioja</option>
                <option value="mendoza">Mendoza</option>
                <option value="misiones">Misiones</option>
                <option value="neuquen">Neuquén</option>
                <option value="rio-negro">Río Negro</option>
                <option value="salta">Salta</option>
                <option value="san-juan">San Juan</option>
                <option value="san-luis">San Luis</option>
                <option value="santa-cruz">Santa Cruz</option>
                <option value="santa-fe">Santa Fe</option>
                <option value="santiago-del-estero">Santiago del Estero</option>
                <option value="tierra-fuego">Tierra del Fuego, Antártida e Islas del Atlántico Sur</option>
                <option value="tucuman">Tucumán</option>
               



            </select>            

            <br>


            <label for="password">Contraseña</label>

            <input type="password" name="clave">

            <br>


            <label for="password">Confirmar Contraseña</label>

            <input type="password" name="clave">



        </form>



       </section>



    </main>

    <footer>
        <nav class="footinfo">
            <ul class="util">
                <li><a href="#">PREGUNTAS FRECUENTES</a></li>
                <li><a href="#">FORMAS DE PAGO</a></li>
                <li><a href="#">TERMINOS Y CONDICIONES</a></li>
            </ul>
            <ul class="acerca">
                <li><a href="#">¿QUIENES SOMOS?</a></li>
                <li><a href="#">UBICACION</a></li>
                <li><a href="#">TRABAJA CON NOSOTROS</a></li>
            </ul>
            <ul class="contacto">
                <li><a href="#"><i class="fa-solid fa-phone"></i></i>QUIERO QUE ME LLAMEN</a></li>
                <li><a href="#"><i class="fa-solid fa-phone"></i>0810-222-1234</a></li>
                <li><a href="#"><i class="fa-solid fa-screwdriver-wrench"></i></i></i>SOPORTE</a></li>
            </ul>
            <ul class="redes">
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>