/* ------------------FORMULARIO DE REGISTRO-------------------- */ 

.register-custom {
    background-image: url("/images/backhead.jpg");
    padding: 30px;
    margin: auto;
    border-radius: 4px;
    font-family:'Audiowide', sans-serif;
    color: darkred;
    box-shadow: 6px 14px 37px #000; 
}
.term-c {
    font-size: 10px;
    font-family: sans-serif;
    font-weight: bolder;
    transition: all 450ms;
    color: #000;
}
.term-c:hover { 
    background-color: black;
    border-radius: 10px;
    color:white 
}
.register-custom h4 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #000;
}
.controls {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid orange;
    font-family:'Audiowide', sans-serif;
    font-size: 18px;
}
::placeholder{
    color: white;
    opacity: 0.5;
}
.errorform{
    width: 100%;
    background-color: darkred;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 3px solid black;
    font-family:'Audiowide', sans-serif;
    font-size: 18px;
}
.register-custom p {
    text-align: center;
    font-size: 15px;
    line-height: 40px;
}
.register-custom a:hover {
    color: white; 
    text-decoration: none;
}
.register-custom .boton {
    width: 100%;
    background: gray;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    transition: all 500ms;
    border-radius: 10px;
}
.register-custom .boton:hover {
    background-color: black

}
.register-main {
    padding-top: 15px;
    background-color: #2A2B12;
    padding-bottom: 30px;
}
.ya-acc {
    font-size: 10px;
    font-family: sans-serif;
    transition: all 450ms;
    color: #000;
}
.ya-acc:hover { 
    background-color: black;
    border-radius: 10px;
    color:wheat 
}
/*-------------------------------------------------*/

/* ------------------FORMULARIO DE LOGIN ------------------- */ 

.recordar-pw {
    font-size: 10px;
    transition: all 450ms;
    color: #000;
}

.recordar-pw:hover { 
    background-color: black;
    border-radius: 10px;
    color:wheat 
}

.no-tenes-acc {
    font-size: 10px;
    font-family: sans-serif;
    transition: all 450ms;
    color: #000;
}

.no-tenes-acc:hover { 
    background-color: black;
    border-radius: 10px;
    color:wheat 
}
/*------------------------------------------------------------------*/

/*-----------------------VALIDACIONES LOGIN-------------------------*/
.is-valid {
    color: #198754;
  }
  .is-invalid {
    color: #842029;
  }
    .alert-warning{
    display: block;
    font-family: sans-serif;
    color:red;
    font-weight: bolder;
    background-color: white;
    text-align: center;
    border-radius: 10px ;
    border: 4px solid black;
    animation-name: errorcolor;
    animation-duration: 500ms;
    animation-iteration-count: 3;
    animation-direction: alternate;

  }
  @keyframes errorcolor{
    0% {background-color: black;
    color: white;
    border: 4px solid white;}
    100%{background-color: white;
    color: red;
    border: 4px solid black;}
  }
/*---------------------------------------------------------*/

/* ------------------PERFIL DE USUARIO ------------------- */ 

.avatar img{
    width: 100%;
    border-radius: 100%;
    border: 4px solid black;
    background-color: aliceblue;
}

/*-------------------------------------------------*/