*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
/* -----------SECCIONES PRINCIPALES DE CUERPO--------------*/
header{
    background-image: url("/images/backhead.jpg");
    background-size: 100%;
    font-family: 'Audiowide', sans-serif;
    box-sizing: border-box;
}
main{
    font-family: 'Arial', sans-serif;
    background-image: url("/images/backmain.jpg");
    background-size: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: black;
}
footer{
    background-color: black;
    font-family: 'Audiowide', sans-serif;
}
/*-----------------------------------------------------------*/

.fulllogo{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width:40%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carrito{
    color: black;
    width: 20%;
    font-size: 40px;
}

/* ------------SEARCH BAR------------ */
.search input[type=text]{
    width:300px;
    height:25px;
    border-radius:25px;
    border: none;
}
      
.search{
    float:right;
    margin:7px;
}
      
.search button{
    border-radius: 50%;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
} 
/*-------------------------------------------*/

.categorias{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: black;
    color: white;
}
.catg{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    padding: 10px;
    border-color: #FFF;
    border-style: dashed;
    flex-wrap: wrap;
}

.burger-menu{
    display: none;
}

.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
}

section .carrou{
    display: flex;
    width: 100%;
    flex-direction: column;
}
section .ofertas{
    background-image:url(https://media0.giphy.com/media/dCWcACCmyUI8uqmTzY/giphy.gif?cid=ecf05e471iyo1i3dizd3vehwy0n9kw6l4juuyydmyizdiav9&rid=giphy.gif&ct=g);
    width: 100%;
    height: 75px;
    text-align: center;
}

article{
    position: relative;
    box-shadow: 0 0 10px orange;
    width: 45%;
    margin: 5px;
}

.forma{
    width: 100%;
}

article img{
    width: 200px;
    height: 200px;
    width: 100%;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    padding: 10px;
    justify-content: space-around;
}

.precio-disc{
    display: flex;
    justify-content: space-around;
    font-family: 'Audiowide';
}

.precio{
    color: red;
}

.descuento{
    color: green;
}

.nombre{
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    color: white;
}
.pop {
    opacity: 0;
    display: none;
    position: absolute;
    font-size: 16px;
    color: #FFF;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    bottom: 0px;
    transition: all 450ms;
}

main article:hover .pop{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.footinfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

a{
    color: white;
    transition: all 450ms;
}
a:hover{
    color: orange;
}

/*------------- DETALLES DE PRODUCTOS------------ */

.notebookdetail{
    display: flex;
    flex-wrap: wrap;
    padding-top: 130px;
    padding-bottom: 130px;
}
.pdinfo{
    background-image: url("/images/backhead.jpg");
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 58%;
    justify-content: space-evenly;
    padding: 10px;
    box-shadow: 6px 14px 37px #000;
    margin-right: 10px;
}
.pddes{
    font-family: 'Audiowide', sans-serif;
    width: 100%;
    color: black;
    padding-top: 15px;
    font-size: 20px;
    font-weight: bolder;
}
.pdesp{
    width: 100%;
    color: black;
    font-weight: bolder;
    text-align: justify;
    padding-right: 10px;
}
.pdpre{
    width: 100%;
    color: red;
    font-family: 'Audiowide', sans-serif;
}
.pdopciones{
    display: flex;
}
.pdfde{
    width: 33%;
    color: white;
    text-align: center;
}
.pdc{
    width: 33%;
    color: white;
    text-align: center;
}
.pde{
    width: 33%;
    color: white;
    text-align: center;
}
.pdbotones{
    display: flex;
    justify-content: space-evenly;
}
.botoncomprar button{
    width: 100%;
    background: gray;
    border: none;
    padding: 8px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    transition: all 500ms;
    border-radius: 10px;
}
.botoncarrito button{
    width: 100%;
    background: gray;
    border: none;
    padding: 8px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    transition: all 500ms;
    border-radius: 10px;
}
.pdimg{
    display: flex;
    width: 40%;
    height: 300px;
    transition: all 600ms;
    justify-content: space-around;
}
.pdimg:hover {
    transform: scale(1.5);
    
}
.botoncarrito button:hover{
    background-color: blue;
}
.botoncomprar button:hover{
    background-color: green;
}

/*-------------------------------------------------*/

/*-------------PRODUCTOS CARRITO------------ */

.productoscarrito{
    padding-top: 15px;
    color: black;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 150px;
    padding-bottom: 150px;
}
.listacarrito{
    display: flex;
    flex-direction: column;
    background-image: url("/images/backhead.jpg");
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    border: white solid 2px;
    padding: 5px;
}
.pc1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    border-bottom: white solid 2px;
}
.resumenpedido{
    background-image: url("/images/backhead.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    width: 30%;
    padding: 20px;
    border: white solid 2px;
}
.pcimg{
    display: flex;
    justify-content: center;
    width: 20%;
    height: 100px;

}
.pctit{
    font-family: 'Audiowide';
    font-weight: bolder;
    font-size: 20px;
    border-bottom: white solid 2px;

}
.pcdel{
    color: red;
}
.pcbotones{
    display: flex;
    justify-content: space-between;
}
.botonvaciar button{
    width: 100%;
    background: gray;
    border: none;
    padding: 8px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    transition: all 500ms;
    border-radius: 10px;
}
.botoncontinuar button{
    width: 100%;
    background: gray;
    border: none;
    padding: 8px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    transition: all 500ms;
    border-radius: 10px;
}
.botonvaciar button:hover{
    background-color: red;
}
.botoncontinuar button:hover{
    background-color: green;
}
.pdicon{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    font-weight: bolder;
    color: green;

}
/*-------------------------------------------------*/



/* ------------------FORMULARIO DE REGISTRO-------------------- */ 


.register-custom {
    width: 400px;
    background-image: url("/images/backhead.jpg");
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family:'Audiowide', sans-serif;
    color: white;
    box-shadow: 6px 14px 37px #000;
    
}


.term-c {
    font-size: 10px;
    font-family: sans-serif;
    transition: all 450ms;
    color: #000;
}

.term-c:hover { 
    background-color: black;
    border-radius: 10px;
    color:wheat 


}


.register-custom h4 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #000;

}

.controls {
    width: 100%;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid orange;
    font-family:'Audiowide', sans-serif;
    font-size: 18px;

}

.register-custom p {
    height: 40px;
    text-align: center;
    font-size: 15px;
    line-height: 40px;


}


.register-custom a:hover {
    color: white; 
    text-decoration: none;
    
}

.register-custom .boton {
    width: 100%;
    background: gray;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    transition: all 500ms;
    border-radius: 10px;
}

.register-custom .boton:hover {
    background-color: black

}

.register-main {
    padding-top: 15px;
    background-color: #2A2B12;
    padding-bottom: 30px;
}

.ya-acc {
    font-size: 10px;
    font-family: sans-serif;
    transition: all 450ms;
    color: #000;
}

.ya-acc:hover { 
    background-color: black;
    border-radius: 10px;
    color:wheat 

}


/* ------------------FORMULARIO DE LOGIN ------------------- */ 


.recordar-pw {
    font-size: 10px;
    transition: all 450ms;
    color: #000;
}

.recordar-pw:hover { 
    background-color: black;
    border-radius: 10px;
    color:wheat 


}

.no-tenes-acc {
    font-size: 10px;
    font-family: sans-serif;
    transition: all 450ms;
    color: #000;
}

.no-tenes-acc:hover { 
    background-color: black;
    border-radius: 10px;
    color:wheat 

}

/*--------------------------------------*/
@media (min-width: 768px) {
    .descripcion {
        display: none;
    }
    article{
        position: relative;
        box-shadow: 0 0 10px orange;
        width: 18%;
    }
    .productos{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        box-sizing: border-box;
        padding: 10px;
        justify-content: space-around;
    }
    .footinfo{
        flex-direction: row;
    }
}




