*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
/* -----------SECCIONES PRINCIPALES DE CUERPO--------------*/
header{
    background-image: url("/images/backhead.jpg");
    background-size: 100%;
    font-family: 'Audiowide', sans-serif;
    box-sizing: border-box;
}
main{
    font-family: 'Arial', sans-serif;
    background-image: url("/images/backmain.jpg");
    background-size: 100%;
    width: 100%;
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
    display: block;
}
footer{
    background-color: black;
    font-family: 'Audiowide', sans-serif;
}
/*-----------------------------------------------------------*/

.fulllogo{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width:40%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carrito{
    color: black;
    width: 20%;
    font-size: 40px;
}

.categorias{
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: black;
    color: white;
}
.catg{
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    padding: 10px;
    border-color: #FFF;
    border-style: dashed;
    flex-wrap: wrap;
    line-height: 25px;
    display: none;
}
.catgV{
    display: block;
}
.toggle{
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
}
.banner{
    display: flex;
    flex-direction: column;
    width: 100%;
}
section .carrou{
    display: flex;
    width: 100%;
    flex-direction: column;
}
section .ofertas{
    background-image:url(https://media0.giphy.com/media/dCWcACCmyUI8uqmTzY/giphy.gif?cid=ecf05e471iyo1i3dizd3vehwy0n9kw6l4juuyydmyizdiav9&rid=giphy.gif&ct=g);
    width: 100%;
    height: 75px;
}
.boton{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 60px;
	background: #141414;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}
.boton span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}
.boton.dos::after {
	content: "";
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: calc(-100% - 80px);
	border-bottom: 80px solid green;
	border-right: 80px solid transparent;
	transition: .4s ease-in-out all;
}
.boton.dos.danger::after{
    border-bottom: 80px solid red;
    
}
.boton.dos:hover::after {
	left: 0;
}
.boton.dos svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

/* ------------SEARCH BAR------------ */
.search input[type=text]{
    width:300px;
    height:25px;
    border-radius:25px;
    border: none;
}
      
.search{
    float:right;
    margin:7px;
    display: contents;
}
      
.search button{
    border-radius: 50%;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.fondoqs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/images/fondoqs.jpg");
}
.fondoqs img{
    width: 600px;
    height: 600px;
}
.reveal{
    display: flex;
    justify-content: center;
}
.infoqs{
    margin-top: 100px;
    color: black;
    -webkit-text-stroke: 1px orange;
    display: flex;
    font-size: 45px;
    font-weight: bolder;
    z-index: 3;
    background-image: url("/images/backmain.jpg");
    background-size: cover;
}
.tema{
    background-image: url("/images/gaming.jpg");
    background-size: cover;
    font-size: 45px;
    font-weight: bolder;
    color: black;
    -webkit-text-stroke: 1px orange;
}
/*-------------------------------------------*/

/*---------------------RESPONSIVE----------------------------*/

@media (min-width: 768px) {
    .descripcion {
        display: none;
    }

    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        padding: 10px;
        margin-right: auto;
        margin-left: auto;
    }
    .prod{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        position: relative;
        width: 23%;
        height: 400px;
        margin: 5px;
        box-shadow: 0 0 10px orange;
        border: black solid 1px;
    }
    .prod img{
        background-color: white;
        height: 70%;
        width: 100%;
        border-bottom: #000 2px solid;
    }
    .info{
        font-family: 'audiowide';
        background-color: #000;
        height: 30%;

    }
    .pop {
        opacity: 0;
        display: none;
        position: absolute;
        font-size: 16px;
        color: #FFF;
        font-weight: bolder;
        justify-content: center;
        align-items: center;
        text-align: justify;
        width: 100%;
        height: 100%;
        transition: all 450ms;
    }
    
    main .prod:hover .pop{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 1;
    }
    .footinfo{
        flex-direction: row;
    }
    .register-custom {
        width: 40%;
    }
    .pdimg{
        display: flex;
        background-color: white;
        width: 40%;
        height: 370px;
        justify-content: space-around;
        border: #000 solid;
        box-shadow: 0px 0px 25px orange;
    }
    .pdinfo{
        margin-right: 10px;
        width: 58%;
    }
    .detail{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        background-color: white;
        color: #000;
    }
    .toggle{
        display: none;
    }
    .catg{
        display: flex;
        flex-direction: row;
        line-height: 20px;
    }
    .pdopciones{
        display: flex;
        flex-direction: row;
    }
}