<!DOCTYPE html>
<html lang="en">
     <!-- Head -->
    <%- include('./../partials/head') %>
<body>

     <!-- Header -->
     <%- include('./../partials/header') %>
    
    <main class="register-main">

        <form action="/users/login" method="POST">

        <section class="register-custom">
            <h4>BIENVENIDO DE NUEVO</h4>
            <input class="controls" type="email" name="correos" id="correo" placeholder="Ingrese su Correo">
            <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="Ingrese su contraseña">
            <p class="recordar-pw"> Recordar mi contraseña  <input type="checkbox" id="huey" name="drone" value="Acepto"></p>
            <input class="boton" type="submit" value="Ingresar">
            <p class="no-tenes-acc"><a href="/users/register">¿No tenés cuenta? Registrate ahora mismo.</a></p>
        </section>
        </form>

    </main>

     <!-- Footer -->
     <%- include('./../partials/footer') %>
     
</body>
</html>