<!DOCTYPE html>
<html lang="en">
     <!-- Head -->
    <%- include('./../partials/head') %>
<body>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

    <main class="fondoqs">

        <div class="reveal">
            <img class="imgqs" src="/images/LOGO CUSTOM qs.png"> 
        </div>

        <div class="infoqs">
            <div class="txtinfo" style="padding: 20px;"><p>
                <h2>Bienvenidos a CUSTOM</h2><br>
                Portal dedicado a la venta de artículos e insumos de computación con gran variedad, principalmente dedicada al público gamer y entusiasta. <br>
                <br>
                ¿Quienes somos? <br>
                Somos Santino y Rubén, ambos dando nuestros primeros pasos en el mundo de la programación y el desarrollo.<br>
                
            </p><br></div>
        </div>

        <div class="tema">
            <div class="txttema" style="padding: 20px;">
            <h2>Eligiendo Rubro</h2><br>
            A medida que fuimos conociendonos nos dimos cuenta que coincidiamos en nuestro gusto por el mundo PC-Gamer. <br>
            Elegimos esta tematica para nuestro e-commerce porque es algo que disfrutamos y compartimos.<br>
            Hicimos este sitio con mucho esfuerzo y esperamos que sea de su agrado.<br>
            <br>
            Master Race Forever.<br>
            </div>
           
        </div>

    </main>
   

<!-- Footer -->
<%- include('./../partials/footer') %>

<script defer src="/js/quienessomos.js"></script>
</body>
</html>