<!DOCTYPE html>
<html lang="en">
     <!-- Head -->
    <%- include('./../partials/head') %>
<body>

     <!-- Header -->
     <%- include('./../partials/header') %>
    
    <main class="register-main">

        <form action="/editProducts" method="POST">

        <section class="register-custom">
            <h4>AGREGAR/EDITAR PRODUCTO</h4>
            <input class="controls" type="text" name="nombreProducto" id="nombreProducto" placeholder="Nombre del Producto">
            <div class="controls"><label for="descripcionProducto">Descripción del Producto:</label>
            <textarea style="width: 100% ; height: 80px;" name="descripcionProducto" id="descripcionProducto">Introducir la descripción...</textarea></div>
            <div class="controls"><label for="categoriaProducto">Categoria :</label>
            <select name="categoriaProducto" id="categoriaProducto" style="font-family: 'Audiowide';">
                <option value="notebooks">NOTEBOOKS</option>
                <option value="monitores">MONITORES</option>
                <option value="placasdevideo">PLACAS DE VIDEO</option>
                <option value="almacenamiento">ALMACENAMIENTO</option>
                <option value="perifericos">PERIFERICOS</option>
                <option value="ofertas">OFERTAS</option>
            </select></div>
            <input class="controls" type="text" name="precioProducto" id="precioProducto" placeholder="Precio del Producto">
            <input class="controls" type="file" name="imagenProducto" id="imagenProducto" accept=".jpg" multiple placeholder="Seleccionar Imagen">
            <input class="boton" type="submit" value="Agregar/Editar">
        </section>
        </form>

    </main>

     <!-- Footer -->
     <%- include('./../partials/footer') %>
     
</body>
</html>